* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
    background: #f9f9f9;
    padding: 20px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .menu-item {
    background-color: #777;
    color: #fff;
    border-radius: 5px;
    position: relative;
    flex: 0 0 calc(100% - 20px);
    padding: 50px 20px 20px; 
  }
  
  .menu-header {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: #CC6666; 
  }
  .beef-header {
    background-color: #B22222;
  }
  .sushi-header {
    background-color: #D4B106;
  }
  
  .menu-item p {
    margin-top: 10px;
    line-height: 1.5;
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .menu-item:nth-child(1),
    .menu-item:nth-child(2) {
      flex: 0 0 calc(50% - 20px); 
    }
    .menu-item:nth-child(3) {
      flex: 0 0 calc(100% - 20px);
    }
  }
  

  @media (min-width: 992px) {
    .menu-item {
      flex: 0 0 calc(33.333% - 20px); 
    }
  }
  